replicaCount: 1

image:
  repository: ghcr.io/claudiatn/acme-backend
  tag: "1.0.3"
  pullPolicy: Always

imagePullSecrets: 
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 3000

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

livenessProbe:
  httpGet:
    path: /api/health
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /api/ready
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
