name: Backend CI/CD

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - develop
  #   types: [opened, synchronize, reopened]
    inputs:
      environment:
          type: choice
          description: Selecciona el entorno
          required: true
          options:
            - dev
            - staging
            - production
          default: dev
permissions:
  contents: read
  packages: write
  
jobs:
  ci:
    uses: claudiatn/platform-ci-cd/.github/workflows/ci-reusable.yaml@main
    with:
      image_name: acme-backend
      version: 1.0.1
    secrets: inherit
  cd:
    needs: ci
    uses: claudiatn/platform-ci-cd/.github/workflows/cd-reusable.yaml@main
    with:
      namespace: acme
      image_name: acme-backend
      version: 1.0.1
      chart: backend
      environment: ${{ inputs.environment }} 
    secrets: inherit
