name: Backend CI/CD

on:
  push:
    branches:
       - develop

permissions:
  contents: read
  packages: write
  
jobs:
  ci:
    uses: claudiatn/platform-ci-cd/.github/workflows/ci-reusable.yaml@main
    with:
      image_name: acme-backend
      version: 1.0.1
    secrets: inherit
  
  security:
    needs: ci
    uses: claudiatn/platform-ci-cd/.github/workflows/security.yaml@main
    secrets: inherit
    
  cd:
    needs: security
    uses: claudiatn/platform-ci-cd/.github/workflows/cd-reusable.yaml@main
    with:
      namespace: acme
      chart: backend            
      path_chart: backend
      environment: dev
    secrets: inherit
